*{
    border:4px solid pink;
}

body {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.buttonDiv{
    flex:1 1 auto;
    

}

#buttonStyle{
font-size: 3rem;


}
.grid {

    display:grid;

    justify-content: center;
    align-content: center;
    
    
}

.column {
    
    padding:2px;
   
    
}

.row
 {

   
    padding:2px;
    
  
 }

 .toggleBlue {

    background-color:black;
   
    text-align: center;
    
 }
  