*{box-sizing: border-box;
  border:2px solid green;


}


body  {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.buttonDiv{
    flex:1 1 auto;
    

}

#buttonStyle{
font-size: 2rem;
}





.grid {
   
  
   
  display:grid;
  
    grid-template-columns: repeat(32,1fr);
    grid-auto-flow:column dense;
    justify-content: center;
    align-self: center;
    min-width:0px;
}

.column {
  
  
    
  height:2px;
  width:2px;
    
   
}

.row
 {
  
 
    
    height:2px;
    width:2px;
    
    
    
  
 }

 .toggleBlue {

    background-color:black;
    height:2px;
    width:2px;
      
    
    
    
    
 }