*{box-sizing: border-box;
  border:2px solid green;


}


body  {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.buttonDiv{
    display: flex;
    gap:4rem;
    margin-bottom: 6rem;

}

#buttonStyle{
font-size: 2rem;
}


.gridContainer {
display:flex;
flex-direction: column;

width: 40rem;
height:40rem;

}


.grid {
   
  display:flex;
  
  flex:1 1 auto;
  
  
  
}
   

.column {
  display: flex;
  flex:1 1 auto;
  flex-direction: column;
  justify-content: center;
 
    
   
}

.row
 {
  
  flex:1;
    
    
    
    
  
 }

 
    
    
    
 